<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.dao.mapper.ProjectMapper">
    
    <resultMap id="projectResultMap" type="Project">
        <result property="publishTime" column="publish_time"/>
        <result property="projectPermission" column="project_permission"/>
        <result property="projectStatus" column="project_status"/>
        <result property="endTime" column="end_time"/>
    </resultMap>

    <insert id="insertProject">
        INSERT INTO lry_project(name, publisher, publish_time, end_time, username, grade, project_permission,
                                project_status)
        VALUES (#{name}, #{publisher}, #{publishTime}, #{endTime}, #{username}, #{grade}, #{projectPermission},
                #{projectStatus})
    </insert>
    <select id="selectMyAllProjects" resultType="com.ruoyi.project.dao.model.Project">
        SELECT *
        FROM lry_project
        WHERE username = #{username} OR publisher = #{usernanme}
    </select>
    <select id="selectMyCreateProjects" resultMap="projectResultMap">
        SELECT *
        FROM lry_project
        WHERE publisher = #{publisher}
    </select>
    <select id="selectMyProjectsByName" resultType="com.ruoyi.project.dao.model.Project">
        SELECT *
        FROM lry_project
        WHERE username = #{username}
          AND project_status = 0
    </select>
    <select id="selectMycCompletedProjectsByName" resultType="com.ruoyi.project.dao.model.Project">
        SELECT *
        FROM lry_project
        WHERE username = #{username}
          AND (project_status = 0 OR project_status = 1)
    </select>
</mapper>